.details
  .photo{:float => "left"}
    = gravatar @session.speaker
    %br
    = link_to @session.speaker.name, @session.speaker
  %h3=render_session_name @session
  %p= Redcarpet.new(@session.abstract).to_html.html_safe
  - if logged_in?
    %p.button-row{:style => 'clear:left'}
      = link_to "Edit Session", edit_session_path(@session), :class => 'clean-gray-button'
      = link_to "Edit Speaker", edit_speaker_path(@session.speaker), :class => 'clean-gray-button'
