      <h2>Official Committee of Code Camp 2012 in Houston</h2>
      <ul class="comm-list">
        <% @members.each do |item| %>
        <li>
          <%=image_tag ((not item.image_path.blank?) ? item.image_path : "committee/no-photo.jpg") %>
          <div class="details">
            <h3><%=item.name %><% if not item.title.blank? %> - <%=item.title %><% end %></h3>
            <p><%=item.description.html_safe %></p>
            <% if not item.blog.blank? %><p>Site: <%=link_to render_nice_url(item.blog), item.blog, :target => '_blank' %></p><% end %>
            <% if not item.twitter.blank? %><p>Twitter: <%=link_to "@#{item.twitter}", "http://twitter.com/#{item.twitter}", :target => '_blank' %></p><% end %>
          </div>
        </li>
        <% end %>
      </ul>