<h2>Suggest a Session</h2>

<%= form_for @session_suggestion do |f| %>
  <%= f.error_messages %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :abstract %>
  <%= f.text_area :abstract %>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <%= f.label :twitter %>
  <%= f.text_field :twitter %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <div class="button-row">
    <%= f.submit "Submit", :class =>"clean-gray-button" %>
  </div>
<% end %>