<%= form_for @speaker do |f| %>
  <%= f.error_messages %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :twitter_handle %>
  <%= f.text_field :twitter_handle %>

  <%= f.label :bio %>
  <%= f.text_area :bio, :size => "60x6" %>
  <br />
  <em>Markdown supported</em>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <div class="button-row">
    <%= f.submit "Submit", :class => "clean-gray-button" %>
    <%= link_to "Cancel", "javascript:history.go(-1);", :class => 'clean-gray-button' %>
  </div>
<% end %>