<div class="details">
  <h3>
    <%= speaker.name %>
    <% if speaker.has_twitter_handle? %>
      <span class="twitter">
        <%= twitter speaker %>
      </span>
    <% end %>
  </h3>
  <div class="photo" style="float:left;">
    <%= gravatar speaker %>
    <br />
  </div>
  <div class="bio">
    <%= markdown(speaker.bio) %>
    <ul class="sessions-for-speaker-list">
      <% speaker.sessions.each do |session| %>
        <li class="session-for-speaker">
          <%= link_to session.name, session %>
        </li>
      <% end %>
    </ul>
  </div>
  <% if logged_in? %>
    <p class="button-row" style="clear:both">
      <%= link_to "Edit", edit_speaker_path(speaker), :class => 'clean-gray-button' %>
    </p>
  <% end %>
</div>
