<div class="details">
  <h3>
    <%= speaker.name %>
    <% if speaker.has_twitter_handle? %>
      |
      <!-- / @ sign isn't available in our nutty custom font! -pds -->
      <span style="font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;">
        <%=twitter speaker %>
      </span>
    <% end %>
  </h3>
  <div class="photo" style="float:left;">
    <%= gravatar speaker %>
    <br />
  </div>
  <div class="bio">
    <%--/ = Redcarpet.new(speaker.bio).to_html.html_safe --%>
    <ul class="sessions-for-speaker-list">
      <% speaker.sessions.each do |session| %>
        <li class="session-for-speaker">
          <%= link_to session.name, session %>
        </li>
      <% end %>
    </ul>
  </div>
  <% if logged_in? %>
    <p class="button-row" style="clear:both">
      <%= link_to "Edit", edit_speaker_path(speaker), :class => 'clean-gray-button' %>
    </p>
  <% end %>
</div>