<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title %> - CODE CAMP 2012 - HOUSTON, TEXAS</title><!-- - August 20th -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%=stylesheet_link_tag "application" %>
    <%=javascript_include_tag "application" %>
    <%=csrf_meta_tag %>
  </head>
  <body>
    <div id="header">
      <div class="wrapper">
        <h1 class="logo left">
          <a href="/">Code Camp 2012 - Houston Texas</a><!-- Aug 20th -->
        </h1>
        <div class="right">
          <% if logged_in? %>
            <%= "Logged in as #{current_user.name}" %>
            <%= link_to "Logout", signout_path %>
          <% end %>
          <div class="register">
            <a class="large-btn" href="/schedule">See the schedule!</a>
          </div>
        </div>
        <ul id="nav" class="right">
          <li><a href="/speakers">Speakers</a></li>
          <li><a href="/schedule">Schedule</a></li>
          <li><a href="/sponsors">Sponsors</a></li>
          <li><a href="/location">Location</a></li>
        </ul>
      </div>
    </div>
    <div class="wrapper content-full">
      <% flash.each do |f| %>
        <% key = f.first.to_s %>
        <% value = f.second %>
        <div class="flash <%=key %>"><%= value %></div>
      <% end %>
      <%=yield %>
      <div class="clear"></div>
      <div id="footer">
        <ul>
          <li><a href="/committee">Meet The Organizers</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/schedule">The Schedule</a></li>
          <li><a href="/location">Get Directions</a></li>
          <li>HOUSTON CODE CAMP 2012</li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-210379-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>